.btn-wrapper {
  font-size: 2rem;
  padding: 0.01%;
  border-color: aquamarine;
  border-radius: 10px;
}

.filtro-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  font-style: italic;
}
.filtro-wrapper input {
  background-color: white;
  color: black;
  border-width: 0.5px;
  border-color: gray;
  border-radius: 12px;
  padding: 5px;
}

.p-wrapper {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.container {
  height: 100vh;
}
